
[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]
readme_template_url="https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst"
manifest_required_keys=license
manifest_deprecated_keys=active
license_allowed=AGPL-3,GPL-2,GPL-2 or any later version,GPL-3,GPL-3 or any later version,LGPL-3
valid_odoo_versions=17.0

[MESSAGES CONTROL]
disable=all

enable=anomalous-backslash-in-string,
    assignment-from-none,
    dangerous-default-value,
    development-status-allowed,
    duplicate-key,
    duplicate-po-message-definition,
    missing-import-error,
    po-msgstr-variables,
    po-syntax-error,
    pointless-statement,
    pointless-string-statement,
    print-used,
    redundant-keyword-arg,
    reimported,
    relative-import,
    return-in-init,
    too-few-format-args,
    unreachable,
    eval-used,
    eval-referenced,
    manifest-author-string,
    manifest-required-key,
    api-one-deprecated,
    api-one-multi-together,
    attribute-deprecated,
    class-camelcase,
    create-user-wo-reset-password,
    consider-merging-classes-inherited,
    dangerous-filter-wo-user,
    dangerous-view-replace-wo-priority,
    deprecated-module,
    duplicate-id-csv,
    duplicate-xml-fields,
    duplicate-xml-record-id,
    javascript-lint,
    manifest-deprecated-key,
    method-compute,
    method-inverse,
    method-required-super,
    method-search,
    no-utf8-coding-comment,
    odoo-addons-relative-import,
    old-api7-method-defined,
    openerp-exception-warning,
    redefined-builtin,
    redundant-modulename-xml,
    too-complex,
    use-vim-comment,
    wrong-tabs-instead-of-spaces,
    xml-syntax-error,

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no
